/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 09 */

.header {
width: 100%;
}

.sidebar {}

.container {
width: 1024px;
margin: 0 auto;
}
.main-content {}

.sub-content {}

.footer {}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */