/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}


.sidebar {
height: 300px;
width: 30%;
float: left;
}

.main-content {
height: 300px;
width: 40%;
float: left;
}

.sub-content {
height: 300px;
float: left;
width: 30%;
}


.footer {
clear: both;
height: 60px;
}
