/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
float: left;
width: 100%;
}
/* hint! what do you have to add here? */

.logo {
float: left;
}

.navigation {
float: right;
}

.sidebar {

width: 25%;
float: left;

}

.main-content  {
width: 100%;
height: 400px;
}
/* hint! you have to contain the floated children elements. */

.sub-content {
float: right;
	/* hint! */
}
.sub-content-2 {
float: right;
clear: right;
	/* hint! */
}

.footer {}
